<!doctype html>
<html>
<head>

	<style>
		h1{
			font-family: "Courier New", Courier, monospace;
			font-weight: bold;
			font-stretch: extra-expanded;
			text-align: center;
		}

		
	</style>


    <title>Twitter Videos</title>
    
    </style>
    <h1>The videos have been created!</h1>
  </head>

<object height="350" width="425">
<embed height="350" src="../tweetVid0.avi" width="425" wmode="transparent">
</object>

<object>
<embed type="application/x-mplayer2" 
name="mediaplayer1" autoplay="false" autostart="false" 
width="300" height="200" loop="false" controls="false" 
allowFullscreen="True" 
src="../tweetVid0.avi">
</object>  

<object height="350" width="425">
<embed height="350" src="../tweetVid0.mp4" width="425" wmode="transparent">
</object>

<object>
<embed type="application/x-mplayer2" 
name="mediaplayer1" autoplay="false" autostart="false" 
width="300" height="200" loop="false" controls="false" 
allowFullscreen="True" 
src="../tweetVid0.mp4">
</object>  


<video src= ../tweetVid0.mp4></video>
<video src= tweetVid0.mp4></video>

</body>
</html>
